<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            font: arial;
        }
    </style>
</head>
<body>
    <div>
    <form method="post" action="/url">
        <h1>Shortend URL Application </h1>
        <label>Enter ur Original URL</label>
        <input name="url" type="text" placeholder="www.example.com"/>
        <button type="submit">Generate</button>
    </form>
    </div>
   
</body>
</html>