<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SingUP</title>
    <script>
        {
            font: arial;
        }
    </script>
    </head>
    <body>
        <div>   
        <form method="post" action="/user">
            <label>Enter your Full Name </label>
            <input name="user_name" required type="text" placeholder="shubhra"/><br>
            <label>Enter your Email </label>
            <input name="email" required type="text" placeholder="shu@gmail.com"/><br>
            <label>Enter your Password </label>
            <input name="password" required  type="text"/><br>
            <button type="submit">SignUP</button>
        </form>
        </div>
    </body>
</html>